body {
    background-image: url("./genderfluid.svg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-color: #353EB6;
}